@use "abstracts/variables";
@use "abstracts/mixins";

@use "base/reset";
@use "base/base";
@use "base/typography";

@use "components/buttons";

@use "layout/navigation";
@use "layout/hero";
@use "layout/footer";
@use "layout/about";
@use "layout/skills";
@use "layout/contact";
@use "layout/connect";
@use "layout/bg";
