@use "../abstracts/variables";
@use "../abstracts/mixins";

.footer {
  padding: 2.5rem 2rem;

  &__bottom {
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 0.9rem;
    color: variables.$color-text;
    opacity: 0.7;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 0.6rem;
      text-align: center;
    }
  }
}
