@use "../abstracts/variables";

html {
  scroll-behavior: smooth;
}

body {
  font-family: variables.$font-primary;
  background: linear-gradient(
    to right,
    variables.$color-dark-1,
    variables.$color-dark-2,
    variables.$color-dark-3
  );
  color: variables.$color-text;
  line-height: 1.6;
  padding-top: 80px;
}
